/* Se importa desde google Fonts el enlace */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root{
    --background: linear-gradient(135deg, rgba(255, 0, 0, 0.686) 0%, rgba(201, 0, 0, 0.522) 100%);
    --color-primario: red;
    --color-secundario: blue;
    --boton-padding: 20px 40px;
}
body{
    font-family: 'Raleway', sans-serif;
}
.contenedor{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1200px;
}
.subtitulo{
    color: var(--color-primario);
    font-size: 2.5rem;
    margin-bottom: 35px
}

/**************************************************************************************************************/
/********************************************** Encabezado ****************************************************/
/**************************************************************************************************************/

.encabezado{
    height: 100vh;
    background-image: var(--background), url(../imagenes/portada1.jpg);
    background-repeat: no-repeat; /*se puede repetir el fondo en el eje x o y, o no repetir*/
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative; /*para que el wave se pueda mover*/
}
.encabezado .contenedor{
    padding: 0;/*se especifica qeu quitara el padding solo del contenedor del encabezado*/
}
.nav{
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight: 700;
}
.nav--footer{
    font-weight: 300;
    justify-content: flex-start;
}
.nav__item{
    color: #FFF;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
}

.nav__item--cta{
    border: 1px solid #fff;
}
.nav__item--footer{
    padding: 10px;
}

.encabezado__contenedor{
    display: flex;
    height: calc(100vh - 250px); 
    align-items: center;
    color: #fff;
}

.contenedor__texto{
    width: 80%;
    margin-bottom: 50px;
}
.encabezado__titulo{
    font-size: 3.2rem;
}
.encabezado__subtitulo{
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;
}

.encabezado__cta{
    display: inline-block;
    background: #fff;
    padding: var(--boton-padding);
    text-decoration: none;
    border-radius: 40px;
}
.encabezado__wave{
    position: absolute; /*para que este dentro del contenedor*/
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
}

/**************************************************************************************************************/
/********************************************** Presentacion ****************************************************/
/**************************************************************************************************************/

.presentacion{
    padding-top: 0;
    text-align: center;
}
.presentacion__foto{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover; /*la imagen cubrira el espacio*/
    object-position: top;/*inicie desde arriba la foto*/
}
.presentacion__p{
    width: 80%;
    margin: 0 auto;
}
.presentacion__cta{
    display: inline-block;
    margin-top: 30px;
    background: var(--color-primario);
    color: #fff;
    text-decoration: none;
    padding: var(--boton-padding);
    border-radius: 40px;
}
.about{
    min-height: 400px;
    display: grid; /*Se crea un acuadricula*/
    grid-template-columns: 1fr 1fr; /*se crean dos columnas*/
    row-gap: 80px; /*espacio entre filas*/
}
.about__imagen{ /*contenedor de imagen*/
    text-align: center;
}
.about__imagen--left{
    text-align: left;
}
.about__img{
    width: 80%;
}
.about__parrafo{
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
}

/**************************************************************************************************************/
/********************************************** Proyectos ****************************************************/
/**************************************************************************************************************/

.proyectos{
    background: #f2f2f2;
}

.proyectos__grid{
    display: grid;
    height: 550px;
    grid-template-areas: 
    "img1 img1 img2 img3"
    "img1 img1 img4 img5";
    gap: 10px; /*espacio entre todas las celdas*/
}

.proyectos__item{
    position: relative; /*para que puedan ser superpuestas por el hover*/
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.proyecto__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
/* Se asignan los espacions a cada etiqueta de grid area */
.proyectos__item:nth-of-type(1){
    grid-area: img1;
}
.proyectos__item:nth-of-type(2){
    grid-area: img2;
}
.proyectos__item:nth-of-type(3){
    grid-area: img3;
}
.proyectos__item:nth-of-type(4){
    grid-area: img4;
}
.proyectos__item:nth-of-type(5){
    grid-area: img5;
}


.proyectos__hover{
    position: absolute; /*Para poder ponerlo adelante de los items*/
    background: #dc143c8c;
    top: 0; /*posicionarlo en el contenedor*/
    left: 0;
    width: 100%; /*abarque todo el contenedor*/
    height: 100%;
    color: #fff;
    display: flex; /*para poder acomodar titulo e icono*/
    flex-direction: column;
    justify-content: center;/*por que se esta trabajando con columnas*/
    align-items: center;
    transform: translateX(100%);/*moverlo de la celda y no se vea*/
    cursor: pointer;
    transition: transform .5s ease-in-out;
}

/*al poner el curson en proyedtos__item, debe afectar a proyectos__hover*/
.proyectos__item:hover .proyectos__hover{
    transform: translateX(0);
}

.projects__icon{
    margin-top: 10px;
    font-size: 30px;
}

/**************************************************************************************************************/
/********************************************** Proyectos ****************************************************/
/**************************************************************************************************************/



